body{

}
.wrapper {
  padding-top: 100px;
}
footer{
  height: 40px;
  width: 100vw;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.btn-new-plans{
  padding-top: 50px;
  text-align: center;
}
.btn-new-plan{
  font-size: 20px;
  margin-right: 60px;
}

.btn-index-message{
  font-size: 20px;
  margin-left: -10px;
}

/* ヘッダー・フッター始 */
header{
  background-color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 65px;
  display: flex;
  font-family: 'Impact', sans-serif;
}

.header_bar{
  background-color: #333333;
  position: relative;
}

.header_nav{
  width: 150px;
  position: absolute;
  left: 0px;
}

.menu_icon{

}

.menu_image{
  height: 64px;
  object-fit: cover;
}
.navbar_lists{
  width: 165px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px ;
  border: 2px solid gray;
  list-style: square;
}

.navbar_list{
  margin: 10px 0px 5px 0px;
  font-size: 20px;
  text-decoration: none;
}

.navbar_list a{
  text-decoration: none;
}

.hidden{
  display: none;
}

.user-nickname{
  font-size: 20px;
}

.heading{
  margin: auto;
}

.header_logo{
  font-size: 30px;
  letter-spacing: 0.2em;
}

.header_logo a{
  color: #fff;
  text-decoration: none;
}



/* ヘッダー・フッター終 */

