<div>
  <ul id="main_nav">
    <li><a href="#">1.テキストテキ<br>ストテキスト</a></li>
    <li><a href="#">3.テキストテキ<br>ストテキスト</a></li>
    <li><a href="#">2.テキストテキ<br>ストテキスト</a></li>
  </ul>
  <h1>hello world</h1>
</div>
